<backend>
fastapi==0.109.0
uvicorn==0.27.0
networkx==2.8.8
mesa==2.4.0

<frontend>
solara==1.30.0
matplotlib==3.8.2

<shared>
python==3.12.10
pydantic==2.6.1
httpx==0.26.0
numpy==1.26.4
pandas==2.2.2
requests==2.31.0

<database>
SQLAlchemy==2.0.39
psycopg[binary]==3.2.6

##----------------------------
# 만약 하나의 가상환경에서 모두 관리하신다면 루트 폴더에서 다음 통합 명령어를 사용하세요.

# pip install mesa==2.4.0 solara==1.30.0 fastapi==0.109.0 uvicorn==0.27.0 \
#           networkx==2.8.8 numpy==1.26.4 pandas==2.2.2 matplotlib==3.8.2 \
#           pydantic==2.6.1 httpx==0.26.0 requests==2.31.0
##----------------------------